/*
.graficos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

.graficos canvas{
    width: 50%;
    height: 190px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.graficos2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.graficos2 canvas{
    width: 50%;
    height: 190px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}*/

.charts-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.top-right {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid blue;
    height: 50%;
}

.top-right canvas {
    flex: 1;
    height: 200px; /* Ajuste a altura conforme necessário */
    border-right: solid 1px black;
}

.bottom-right {
    margin-top: 10px;
    height: 50%; /* Ajuste a altura conforme necessário */
    border: 1px solid pink;
    display: flex;
}

.bottom-right canvas {
    width: 1000px;
    height: 300px;
}

.graficoPizza canvas {
    width: 50%;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px;
    /* display: flex; */
}

.graficoLinha{
    width: 300px;
}

canvas{
    width: 50%;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px;
}