* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
    background-color: #fff;
    color: #fff;
}


.login-container {
    background-color: #111111;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 1080px;
    width: 450px;
}

.login-box{
    background-color: #1C1F26;
    border-radius: 10px;
    padding: 40px;
    margin-top: 50px;
}

.logo img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 150px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
}

.login-form button {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    background-color: #6459F0;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: #000000;
}

input::placeholder {
    color: #000000;
    opacity: 0.6;
    font-size: 14px;
}

.login-form button:hover {
    background-color: #6459F0;
    transform: scale(1.05);
}

.senha-form button{
    background:none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s;
}

.senha-form button:hover{
        transform: scale(1.02);
    }