.integrante {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    /* flex-direction: column; */
     /*align-self: flex-end; */
}

.integrante img {
    width: 100px;
    height: auto;
    border-radius: 25%;
    margin-right: 20px;
}

.nome {
    font-weight: bold; /* Negrito */
    font-size: 1.2em; /* Fonte maior */
    text-decoration: underline; /* Sublinhado */
    display: block; /* Faz o texto começar em uma nova linha, opcional, depende do layout */
}

.integrante p {
    max-width: 600px;
    margin: 0;
    text-align: left;
}

.sobreProjetoSOPHIA{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}



