.menu {
    display: grid;
    flex-direction: column;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    font-family: 'Arial', sans-serif;
}

.link_menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3rem;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1f26;
}

.login-container {
    background-color: #2b2f3a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
}

.login-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #3a84f4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #336dc3;
}

